---
title: 6 mois
---

<div class="container">
  <div class="text-area">
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "6-months.png", class: "emoji" %>
          <%= image_tag "together.png", class: "emoji" %>
          <%= image_tag "support.png", class: "emoji" %>
          <%= image_tag "mule.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>6 mois que l'on est ensemble,
          6 mois que tu me supportes, que tu acceptes ma tête de mule sans en avoir marre.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "lost.png", class: "emoji" %>
          <%= image_tag "hourglass.png", class: "emoji" %>
          <%= image_tag "heart.png", class: "emoji" %>
          <%= image_tag "heart.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>Moi j'aime tester les choses avant de les mettre en ligne</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "meeting.png", class: "emoji" %>
          <%= image_tag "family.png", class: "emoji" %>
          <%= image_tag "heart.png", class: "emoji" %>
          <%= image_tag "heart.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>Moi j'aime tester les choses avant de les mettre en ligne</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "heart.png", class: "emoji" %>
          <%= image_tag "heart.png", class: "emoji" %>
          <%= image_tag "heart.png", class: "emoji" %>
          <%= image_tag "heart.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>Moi j'aime tester les choses avant de les mettre en ligne</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "heart.png", class: "emoji" %>
          <%= image_tag "heart.png", class: "emoji" %>
          <%= image_tag "heart.png", class: "emoji" %>
          <%= image_tag "heart.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>Moi j'aime tester les choses avant de les mettre en ligne</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "heart.png", class: "emoji" %>
          <%= image_tag "heart.png", class: "emoji" %>
          <%= image_tag "heart.png", class: "emoji" %>
          <%= image_tag "heart.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>Moi j'aime tester les choses avant de les mettre en ligne</p>
        </div>
      </div>
    </div>
  </div>
</div>


6 mois

6 mois que l'on est ensemble,
6 mois que tu me supportes, que tu acceptes ma tête de mule sans en avoir marre.

C'est passé si vite et en même temps j'ai l'impression que ca fait bien plus longtemps que l'on est ensemble.

En 6 mois on a eu le temps de s'aimer, de s'énerver, de se réconcilier, de pleurer et de rire, et de souhaiter que ca dure pour toujours.
Je ne veux pas que ca s'arrête, je veux être avec toi, encore et toujours.

Tes "défauts" sont mignons, tes qualités exceptionnelles.

Ta jalousie me rassure car je sais que tu tiens à moi.

De nous 2 tu es la plus intelligente, la plus belle, la plus lucide, bref tu es la meilleure.

À côté de toi Jai limpression d'être tout petit et ca me fait me sentir bien, comme tiré vers le haut. Je t'admire, tu es la plus belle chose que j'ai dans ma vie.

Pour rien au monde je n'aimerais que tu changes quelque chose chez toi.

J'ai beau chercher, je ne vois pas pour quelle raison nous pourrions nous séparer.

En 6 mois, J'ai eu le temps de rencontrer ta famille et maintenant j'ai hâte que tu rencontres la mienne.

Il reste tellement de choses que jai envie de faire avec toi, je crois pas qu'il y ait assez d'une vie :

Je veux voyager avec toi, faire le tour du monde et en même temps rester confortablement à la maison. Je veux te réconforter quand tu seras triste et te faire rire aux éclats. Je veux me lever le matin et pouvoir te serrer contre moi. Je veux pouvoir te regarder dans les yeux et te dire que je t'aime à chaque instant que l'on passe ensemble.

Je veux t'embrasser et te câliner chaque jour comme si c'était la dernière fois.

Bref, je veux vivre avec toi.

Tu me rends fou. Je ne m'imagine même plus vivre sans toi.

Et puisque je n'ai pas le droit à plus,
Je prends rendez vous dans 6 mois avec toi

Où nous vivrons ensemble, dans notre chez nous, ici ou ailleurs, peu importe, tant que je suis avec toi,

Je t'aime Audelyne.




<div>
  Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>
