---
title: 6 mois
---

<div class="container">
  <div class="text-area">
    <div class="row">
      <div class="col-xs-12">
        <div class="emojis flexbox-center">
          <%= image_tag "heart.png", class: "emoji" %>
          <%= image_tag "heart.png", class: "emoji" %>
          <%= image_tag "heart.png", class: "emoji" %>
          <%= image_tag "heart.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>Moi j'aime tester les choses avant de les mettre en ligne pour voir si ce sera trop long pck on sait jamais</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="emojis flexbox-center">
          <%= image_tag "heart.png", class: "emoji" %>
          <%= image_tag "heart.png", class: "emoji" %>
          <%= image_tag "heart.png", class: "emoji" %>
          <%= image_tag "heart.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>Moi j'aime tester les choses avant de les mettre en ligne</p>
        </div>
      </div>
    </div>
  </div>
</div>




<div>
  Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>
