---
title: 6 mois
---

<div class="container">
  <div class="text-area">
    <div id="target-hover">
      <div class="flexbox-center position-relative">
        <%= image_tag "6-months.png", class: "emoji-title" %>
        <span class="button-swift" id="text-converter">
          <i class="fa fa-align-justify" aria-hidden="true"></i>
        </span>
      </div>
      <div class="lyrics">
        <h2>6 mois</h2>
      </div>
    </div>
    <div class="row margin-top-70px">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "6-months.png", class: "emoji" %>
          <%= image_tag "couple.png", class: "emoji" %>
          <%= image_tag "6-months.png", class: "emoji" %>
          <%= image_tag "support.png", class: "emoji" %>
          <%= image_tag "quiet.png", class: "emoji" %>
          <%= image_tag "mule.png", class: "emoji" %>
          <%= image_tag "donkey.png", class: "emoji" %>
          <%= image_tag "no-no.png", class: "emoji" %>
          <%= image_tag "angry.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>6 mois que l'on est ensemble,
          6 mois que tu me supportes, que tu acceptes ma tête de mule sans en avoir marre.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "time.png", class: "emoji" %>
          <%= image_tag "fast-forward.png", class: "emoji" %>
          <%= image_tag "lost.png", class: "emoji" %>
          <%= image_tag "hourglass.png", class: "emoji" %>
          <%= image_tag "hourglass2.png", class: "emoji" %>
          <%= image_tag "couple_old.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>C'est passé si vite et en même temps j'ai l'impression que ca fait bien plus longtemps que l'on est ensemble.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "6-months.png", class: "emoji" %>
          <%= image_tag "equality.png", class: "emoji" %>
          <%= image_tag "in-love1.png", class: "emoji" %>
          <%= image_tag "fight.png", class: "emoji" %>
          <%= image_tag "peace.png", class: "emoji" %>
          <%= image_tag "crying1.png", class: "emoji" %>
          <%= image_tag "laughing1.png", class: "emoji" %>
          <%= image_tag "want.png", class: "emoji" %>
          <%= image_tag "stopwatch.png", class: "emoji" %>
          <%= image_tag "infinity.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>En 6 mois on a eu le temps de s'aimer, de s'énerver, de se réconcilier, de pleurer et de rire, et de souhaiter que ca dure pour toujours.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "no.png", class: "emoji" %>
          <%= image_tag "want.png", class: "emoji" %>
          <%= image_tag "no-no.png", class: "emoji" %>
          <%= image_tag "want.png", class: "emoji" %>
          <%= image_tag "couple-in-love.png", class: "emoji" %>
          <%= image_tag "repeat.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>Je ne veux pas que ca s'arrête, je veux être avec toi, encore et toujours.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "default.png", class: "emoji" %>
          <%= image_tag "cute.png", class: "emoji" %>
          <%= image_tag "quality.png", class: "emoji" %>
          <%= image_tag "best.png", class: "emoji" %>
          <%= image_tag "jealous.png", class: "emoji" %>
          <%= image_tag "suspicious.png", class: "emoji" %>
          <%= image_tag "think-love.png", class: "emoji" %>
          <%= image_tag "photo.png", class: "emoji" %>
          <%= image_tag "care.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>Tes "défauts" sont mignons, tes qualités exceptionnelles.
          Ta jalousie me rassure et montre que tu tiens à nous.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "you.png", class: "emoji" %>
          <%= image_tag "superior.png", class: "emoji" %>
          <%= image_tag "me.png", class: "emoji" %>
          <%= image_tag "clever.png", class: "emoji" %>
          <%= image_tag "pretty.png", class: "emoji" %>
          <%= image_tag "eye.png", class: "emoji" %>
          <%= image_tag "best.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>De nous 2 tu es la plus intelligente, la plus belle, la plus lucide, bref tu es la meilleure.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "couple2.png", class: "emoji" %>
          <%= image_tag "idea.png", class: "emoji" %>
          <%= image_tag "young.png", class: "emoji" %>
          <%= image_tag "happy.png", class: "emoji" %>
          <%= image_tag "help.png", class: "emoji" %>
          <%= image_tag "in-love1.png", class: "emoji" %>
          <%= image_tag "you.png", class: "emoji" %>
          <%= image_tag "best.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>À côté de toi j'ai limpression d'être tout petit et ca me fait me sentir bien, comme tiré vers le haut. Je t'admire, tu es la plus belle chose que j'ai dans ma vie.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "want.png", class: "emoji" %>
          <%= image_tag "no.png", class: "emoji" %>
          <%= image_tag "world.png", class: "emoji" %>
          <%= image_tag "you.png", class: "emoji" %>
          <%= image_tag "change.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>Pour rien au monde je n'aimerais que tu changes quelque chose chez toi.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "viewer2.png", class: "emoji" %>
          <%= image_tag "viewer.png", class: "emoji" %>
          <%= image_tag "blind.png", class: "emoji" %>
          <%= image_tag "question.png", class: "emoji" %>
          <%= image_tag "split.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>J'ai beau chercher, je ne vois pas pour quelle raison nous pourrions nous séparer.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "6-months.png", class: "emoji" %>
          <%= image_tag "calendar.png", class: "emoji" %>
          <%= image_tag "meeting.png", class: "emoji" %>
          <%= image_tag "you.png", class: "emoji" %>
          <%= image_tag "family.png", class: "emoji" %>
          <%= image_tag "fast.png", class: "emoji" %>
          <%= image_tag "meeting.png", class: "emoji" %>
          <%= image_tag "me.png", class: "emoji" %>
          <%= image_tag "family.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>En 6 mois, j'ai eu le temps de rencontrer ta famille et maintenant j'ai hâte que tu rencontres la mienne.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "want.png", class: "emoji" %>
          <%= image_tag "infinity.png", class: "emoji" %>
          <%= image_tag "couple-in-love.png", class: "emoji" %>
          <%= image_tag "couple-young.png", class: "emoji" %>
          <%= image_tag "couple-old.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>Il reste tellement de choses que jai envie de faire avec toi, je ne crois pas qu'il y ait assez d'une vie :</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "want.png", class: "emoji" %>
          <%= image_tag "travel.png", class: "emoji" %>
          <%= image_tag "map.png", class: "emoji" %>
          <%= image_tag "plus.png", class: "emoji" %>
          <%= image_tag "home.png", class: "emoji" %>
          <%= image_tag "bed.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>
            Je veux voyager avec toi, faire le tour du monde et en même temps rester confortablement à la maison.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "want.png", class: "emoji" %>
          <%= image_tag "embrace.png", class: "emoji" %>
          <%= image_tag "crying1.png", class: "emoji" %>
          <%= image_tag "next.png", class: "emoji" %>
          <%= image_tag "laughing1.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>
            Je veux te réconforter quand tu seras triste et te faire rire aux éclats.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "want.png", class: "emoji" %>
          <%= image_tag "morning.png", class: "emoji" %>
          <%= image_tag "hug.png", class: "emoji" %>
          <%= image_tag "want.png", class: "emoji" %>
          <%= image_tag "photo.png", class: "emoji" %>
          <%= image_tag "eye.png", class: "emoji" %>
          <%= image_tag "talk.png", class: "emoji" %>
          <%= image_tag "love.png", class: "emoji" %>
          <%= image_tag "repeat.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>
            Je veux me lever le matin et pouvoir te serrer contre moi.
            Je veux pouvoir te regarder dans les yeux et te dire que je t'aime à chaque instant que l'on passe ensemble.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "want.png", class: "emoji" %>
          <%= image_tag "kiss.png", class: "emoji" %>
          <%= image_tag "hug.png", class: "emoji" %>
          <%= image_tag "repeat.png", class: "emoji" %>
          <%= image_tag "equality.png", class: "emoji" %>
          <%= image_tag "poison.png", class: "emoji" %>
          <%= image_tag "want.png", class: "emoji" %>
          <%= image_tag "home1.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>Je veux t'embrasser et te câliner chaque jour comme si c'était la dernière fois.
          Bref, je veux vivre avec toi.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "you.png", class: "emoji" %>
          <%= image_tag "next.png", class: "emoji" %>
          <%= image_tag "crazy.png", class: "emoji" %>
          <%= image_tag "me.png", class: "emoji" %>
          <%= image_tag "no.png", class: "emoji" %>
          <%= image_tag "idea.png", class: "emoji" %>
          <%= image_tag "alone.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>Tu me rends fou. Je ne m'imagine même plus vivre sans toi.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "superior.png", class: "emoji" %>
          <%= image_tag "stopwatch.png", class: "emoji" %>
          <%= image_tag "forbidden.png", class: "emoji" %>
          <%= image_tag "calendar.png", class: "emoji" %>
          <%= image_tag "6-months.png", class: "emoji" %>
          <%= image_tag "you.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>Et puisque je n'ai pas le droit à plus, je prends rendez vous dans 6 mois avec toi</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "couple.png", class: "emoji" %>
          <%= image_tag "home1.png", class: "emoji" %>
          <%= image_tag "home.png", class: "emoji" %>
          <%= image_tag "heart.png", class: "emoji" %>
          <%= image_tag "me.png", class: "emoji" %>
          <%= image_tag "plus.png", class: "emoji" %>
          <%= image_tag "you.png", class: "emoji" %>
          <%= image_tag "equality.png", class: "emoji" %>
          <%= image_tag "heart.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>Où nous vivrons ensemble, dans notre chez nous, ici ou ailleurs, peu importe, tant que je serai avec toi.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="target-hover">
        <div class="emojis flexbox-center">
          <%= image_tag "i-love-you.png", class: "emoji" %>
          <%= image_tag "you.png", class: "emoji" %>
          <%= image_tag "plus.png", class: "emoji" %>
          <%= image_tag "me.png", class: "emoji" %>
          <%= image_tag "equality.png", class: "emoji" %>
          <%= image_tag "love.png", class: "emoji" %>
          <%= image_tag "embrace.png", class: "emoji" %>
          <%= image_tag "infinity.png", class: "emoji" %>
        </div>
        <div class="lyrics">
          <p>Je t'aime Audelyne et je serai toujours là pour te protéger.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flexbox-center">
  <div class="centerer">
    <%= link_to "Audelyne", "index.html", class: "btn-primary button-months" %>
  </div>
  <div class="centerer">
    <%= link_to "Joyeux noël", "christmas.html", class: "button" %>
  </div>
</div>

<div class="ref">
  Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>
